body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
  justify-content: space-between;
  height: 100vh;
}
.title {
  text-align: center;
  background-color: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 50px;
}
.logo {
  margin: 0px;
  font-style: italic;
}
.contentBox {
  display: flex;
  flex-direction: column;
}
.pagelinks {
  text-align: center;
}
.button {
  text-align: center;
  padding: 05px;
  background-color: rgb(216, 209, 209);
  border-color: black;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  border-style: solid;
  border-width: 01px;
}
.button:hover {
  background-color: rgb(190, 72, 190);
}
.return {
  color: black;
  text-decoration: none;
  padding: 4px;
  text-align: center;
  margin: 0px;
  text-decoration-line: underline;
}
.linkspagebutton {
  margin: 10px;
  text-align: center;
  padding: 05px;
  text-decoration: none;
  color: black;
}
.liststyle {
  margin: 05px;
  padding: 5px;
}
#nobullets {
  list-style: none;
  padding: 5px;
}
.aboutme {
  text-align: auto;
  margin: auto 400px;
}
.center {
  text-align: center;
}
.footer {
  text-align: center;
  background-color: #1f2937;
  color: white;
  padding: 14px;
}
